beautifulsoup4==4.8.1
bootstrap4==0.1.0
certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.6
django-allauth==0.40.0
django-bootstrap==0.2.4
django-bootstrap4==1.0.1
django-ckeditor==5.7.1
django-crispy-forms==1.8.0
django-fluent-contents==2.0.6
django-fluent-utils==2.0.1
django-js-asset==1.2.2
django-mysql==3.2.0
django-parler==2.0
django-polymorphic==2.1.2
django-tag-parser==3.1
django-template-analyzer==1.6.1
django-wysiwyg==0.8.0
future==0.18.1
gunicorn==20.0.4
html5lib==1.0.1
idna==2.8
mypy==0.740
mypy-extensions==0.4.3
oauthlib==3.1.0
Pillow==6.2.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
stripe==2.38.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
urllib3==1.25.6
webencodings==0.5.1
whitenoise==4.1.4
