{% extends 'pages/base.html' %}
{% load static %}

{% block title %} | About{% endblock %}
{% block content %}
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header class="header-section">
		<!-- logo -->
		<a href="{% url 'index' %}" class="site-logo">
				<h2 style="color:tomato; font-weight: normal">Sunscape</h2><img src="{% static 'media/img/logo.png' %}" alt="">
		</a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="container">
			<ul class="main-menu">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About Us</a></li>
				<li><a href="{% url 'properties' %}">Property</a></li>
				<li><a href="{% url 'developments' %}">Devs</a></li>
				<li><a href="{% url 'blog' %}">News</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
				<li class="ml-2">
				{% if request.user.is_authenticated %}
				<a href="{% url 'dashboard' %}" style="color:tomato">{{request.user}}(DASHBOARD)</a>
				{% endif %}
				</li>
			</ul>
		</div>
	</header>
	<!-- Header section end -->
	
	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'media/img/page-top-bg/1.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="page-top-text text-white">
						<h2>About Us</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris congue.</p>
						{% if not request.user.is_authenticated %}
							<a href="{% url 'account_signup' %}" class="btn btn-outline-warning btn-lg mr-3 mt-3">SignUp</a>
							<a href="{% url 'account_login' %}" class="btn btn-outline-success btn-lg mt-3">Login</a>
						{% else %}
							<a href="{% url 'account_logout' %}" class="btn btn-outline-danger btn-lg mt-3">Logout</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="hero-social-warp">
				<div class="hero-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-youtube-play"></i></a>
					<a href=""><i class="fa fa-instagram"></i></a>
				</div>
			</div>
	</section>
	<!-- Page top section end -->

	<!-- About section -->
	<section class="about-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="about-text">
						<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna.</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed sollicitudin sem. Curabitur sollicitudin enim vel lacus vehicula, vitae sodales ipsum porta.</p>
						<p>Vivamus eget porta nulla. Etiam elementum lacinia turpis, a tincidunt est dignissim sit amet.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-slider owl-carousel">
						<img src="{% static 'media/img/about/1.jpg' %}" alt="">
						<img src="{% static 'media/img/design/1.jpg' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About section end -->
	
	<!-- Milestone section end -->
	<section class="milestone-section">
		<div class="milestone-warp">
			<div class="milestone">
				<h2>2</h2>
				<h4>Residential  Developed</h4>
			</div>
			<div class="milestone">
				<h2>167</h2>
				<h4>Homes Builded</h4>
			</div>
			<div class="milestone">
				<h2>25</h2>
				<h4>Years of Experience</h4>
			</div>
			<div class="milestone">
				<h2>0</h2>
				<h4>Complains</h4>
			</div>
			<div class="milestone">
				<h2>5</h2>
				<h4>Offices</h4>
			</div>
		</div>
	</section>
	<!-- Milestone section end -->

	<!-- Team section -->
	{% if agents %}
		{% for agent in agents %}
		<section class="team-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="team-member">
								<div class="member-pic">
									<img src="{{ agent.photo.url }}" alt="">
									<a href="#" class="member-link">+</a>
								</div>
								<div class="member-info">
									<h4>{{ agent.name }}</h4>
									<h5>{{ agent.job_description }}</h5>
									<h5>{{ agent.phone }}</h5>
									<h5>{{ agent.email }}</h5>
									<p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit. Maecenas sed sollici-tudin sem.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		{% endfor %}
	{% else %}
		<div class="col-md-12">
			<h2>No Realtors Avialable</h2>
		</div>
	{% endif %}

	<!-- Team section end -->
	
	<!-- About box text -->
	<div class="about-text-box-warp spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="design-text">
						<h4>JOIN OUR TEAM </h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						<p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Phasellus eget nibh nec nibh porta semper a nec turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="design-text">
						<h4>WORK REMOTE</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.  Praesent viverra non massa id condimentum. Morbi malesuada laoreet neque, id mattis neque ullamcorper eget. Vivamus aliquam tempus velit, sit amet scelerisque diam scelerisque ut. Donec venenatis dolor eu ante tincidunt varius. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- About box text end -->
{% endblock %}
