{% extends 'pages/base.html' %}
{% load static %}
{% block title %} | Developments{% endblock %}
{% block content %}
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header class="header-section">
		<!-- logo -->
		<a href="{% url 'index' %}" class="site-logo">
			<h2 style="color:tomato; font-weight: normal">Sunscape</h2><img src="{% static 'media/img/logo.png' %}" alt="">
		</a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="container">
			<ul class="main-menu">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About Us</a></li>
				<li><a href="{% url 'properties' %}">Property</a></li>
				<li><a href="{% url 'developments' %}">Devs</a></li>
				<li><a href="{% url 'blog' %}">News</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
				<li class="ml-3"><a href="{% url 'dashboard' %}" style="color:tomato">(DASHBOARD)</a></li>
			</ul>
		</div>
	</header>
	<!-- Header section end -->
	
	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'media/img/page-top-bg/3.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="page-top-text text-white">
						<h2>Our Developments</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris congue.</p>
						{% if not request.user.is_authenticated %}
							<a href="{% url 'account_signup' %}" class="btn btn-outline-warning btn-lg mr-3 mt-3">SignUp</a>
							<a href="{% url 'account_login' %}" class="btn btn-outline-success btn-lg mt-3">Login</a>
						{% else %}
							<a href="{% url 'account_logout' %}" class="btn btn-outline-danger btn-lg mt-3">Logout</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="hero-social-warp">
			<div class="hero-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-linkedin"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
				<a href=""><i class="fa fa-youtube-play"></i></a>
				<a href=""><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</section>
	<!-- Page top section end -->

	<!-- Developments section-->
	<section class="developments-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="development-box">
						<img src="{% static 'media/img/developments/1.jpg' %}" alt="">
						<div class="dev-text">
							<h4>COLD VALLEY Estates </h4>
							<h5>3465  Elk City Road</h5>
							<p>Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce erat magna, egestas vitae arcu non, posuere iaculis leo. </p>
							<div class="dev-price">
								<span>from</span>
								<h4>-$145,000</h4>
							</div>
							<a href="" class="site-btn">MORE INFO</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="development-box">
						<img src="{% static 'media/img/developments/2.jpg' %}" alt="">
						<div class="dev-text">
							<h4>amazing residence</h4>
							<h5>3465  Elk City Road</h5>
							<p>Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce erat magna, egestas vitae arcu non, posuere iaculis leo. </p>
							<div class="dev-price">
								<span>from</span>
								<h4>-$345,000</h4>
							</div>
							<button class="site-btn sb-solid">SOLD OUT</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="development-box">
						<img src="{% static 'media/img/developments/3.jpg' %}" alt="">
						<div class="dev-text">
							<h4>cube houses</h4>
							<h5>3465  Elk City Road</h5>
							<p>Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce erat magna, egestas vitae arcu non, posuere iaculis leo. </p>
							<div class="dev-price">
								<span>from</span>
								<h4>-$95,000</h4>
							</div>
							<button class="site-btn sb-fade">COMING SOON</button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="development-box">
						<img src="{% static 'media/img/developments/4.jpg' %}" alt="">
						<div class="dev-text">
							<h4>port way</h4>
							<h5>3465  Elk City Road</h5>
							<p>Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce erat magna, egestas vitae arcu non, posuere iaculis leo. </p>
							<div class="dev-price">
								<span>from</span>
								<h4>-$220,000</h4>
							</div>
							<a href="" class="site-btn">MORE INFO</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="development-box">
						<img src="{% static 'media/img/developments/5.jpg' %}" alt="">
						<div class="dev-text">
							<h4>lux estates</h4>
							<h5>3465  Elk City Road</h5>
							<p>Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce erat magna, egestas vitae arcu non, posuere iaculis leo. </p>
							<div class="dev-price">
								<span>from</span>
								<h4>-$510,000</h4>
							</div>
							<a href="" class="site-btn">MORE INFO</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="development-box">
						<img src="{% static 'media/img/developments/6.jpg' %}" alt="">
						<div class="dev-text">
							<h4>sunset road</h4>
							<h5>3465  Elk City Road</h5>
							<p>Nam gravida elit non massa congue, ac commodo ipsum mattis. Fusce erat magna, egestas vitae arcu non, posuere iaculis leo. </p>
							<div class="dev-price">
								<span>from</span>
								<h4>-$600,000</h4>
							</div>
							<a href="" class="site-btn">MORE INFO</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Developments section end-->

	<!-- Subscribe section -->
	<section class="subscribe-section spad">
		<div class="container">
			<div class="subscribe-text text-center">
				<h2>Exciting New Opportunities Coming Soon</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum enim ut auctor elemen-tum. Praesent et nulla eu massa egestas faucibus sed in leo. </p>
			</div>
			<form class="subscribe-form">
				<input type="email" placeholder="Leave us your email address">
				<button class="site-btn">SUBSCRIBE NOW</button>
			</form>
		</div>
	</section>
	<!-- Subscribe section end-->
{% endblock %}